<%= form_for(target) do |f| %>
  <% if target.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(target.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% target.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :年 %>
    <%= f.number_field :year %>
    <%= f.label :月 %>
    <%= f.number_field :month %>
  </div>

  <div class="field">
    <%= f.label :ユーザーID %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :売上目標 %>
    <%= f.number_field :target_sales %>万円
  </div>

  <div class="actions">
    <%= f.submit '送信', :class=>"btn"  %>
  </div>
<% end %>
