<h1>目標</h1>

<table class="table">
  <thead>
    <tr>
      <th>年</th>
      <th>月</th>
      <th>担当者</th>
      <th>売上目標</th>
      <th>現在の売上</th>
      <th>進捗率</th>
    </tr>
  </thead>

  <tbody>
    <% @targets.each do |target| %>
      <tr>
        <td><%= target.year %>年</td>
        <td><%= target.month %>月</td>
        <td><%= target.user.name %></td>
        <td><%= target.target_sales %>万円</td>
        <td>100万円</td>
        <td><%= (100.to_f/target.target_sales* 100).round(1) %>%</td>
        <td><%= link_to '編集', edit_target_path(target) %></td>
        <td><%= link_to '削除', target, data: { confirm: '削除しますか?' }, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p class="btn"><%= link_to '新規作成', new_target_path %></p>