<h1>応募一覧</h1>

<div>
  <p>理論見込合計：
    <%= @total_expected_sales %>万円
  </p>
  <%= link_to '終了一覧', '#' %>
</div>


<div> 
  <%= search_form_for @q do |f| %>
    担当名<%= f.select :user_id_eq, options_from_collection_for_select(User.all, "id", "name", @q.user_id_eq),
    include_blank: true %>
    ステータス<%= f.select :entry_status_eq, [
    ["検討中","検討中"],
    ["書類選考","書類選考"],
    ["面接待ち","面接待ち"],
    ["面談済み","面接済み"],
    ["終了","終了"],
    ["成約", "成約"]],
    include_blank: true %>
    <%= f.submit "検索" %>
  <% end %>
</div>

<table class="table">
  <thead>
    <tr>
      <th><%= sort_link(@q, :user_id, "担当者") %></th>
      <th><%= sort_link(@q, :candidate_id, "候補者") %></th>
      <th>企業名</th>
      <th><%= sort_link(@q, :entry_status, "ステータス") %></th>
      <th>面接日</th>
      <th>見込売上</th>
      <th><%= sort_link(@q, :rank, "見込ランク") %></th>
      <th>理論見込</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <% if entry.entry_status != "終了" %>
        <tr>
          <td><%= link_to entry.user.name, edit_entry_path(entry) %></td>
          <td><%= link_to entry.record.candidate, edit_entry_path(entry) %></td>
          <td><%= link_to entry.client, edit_entry_path(entry) %></td>
          <td><%= link_to entry.entry_status, edit_entry_path(entry) %></td>
          <td>
            <% if entry.interview_day %>
              <%= link_to entry.interview_day, edit_entry_path(entry) %>
            <% end %>
          </td>
          <td><%= link_to entry.expected_sales, edit_entry_path(entry) %>万円</td>
          <td><%= link_to entry.rank, edit_entry_path(entry) %></td>
          <td><%= entry.caliculation %>万円</td>
          <td><%= link_to '削除', entry, method: :delete, data: { confirm: '削除しますか?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<p class="btn"><%= link_to '新規作成', new_entry_path %></p>
