<h1><%= @user.name %>さんの商談一覧</h1>

<table class="table">
  <thead>
    <tr>
      <th>候補者</th>
      <th>企業名</th>
      <th>ステータス</th>
      <th>売上</th>
    </tr>
  </thead>

  <tbody>
    <% @user.records.each do |record| %>
      <tr>
        <td><%= record.candidate %></td>
        <td><%= record.client  %></td>
        <td><%= record.status %></td>
        <td><%= record.sales %></td>
        <td><%= link_to '詳細', "#" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p class="button" ><%= link_to '新規作成', new_record_path %></p>
<p class="button" ><%= link_to "戻る", :back %></p>
