<%= form_for @record do |f| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :担当者%>
    <%= f.collection_select(:user_id, @users, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :候補者ID %>
    <%= f.number_field :candidate_id %>
  </div>

  <div class="field">
    <%= f.label :候補者 %>
    <%= f.text_field :candidate %>
  </div>

  <div class="field">
    <%= f.label :ステータス %>
    <%= f.select :status, [
      ["オーダリング","オーダリング"],
      ["マッチング","マッチング"],
      ["クロージング","クロージング"],
      ["成約","成約"],
      ["終了","終了"]
    ]%>
  </div>

  <div class="field"> 
    <%= f.label :成約金額 %>
    <%= f.number_field :sales %>
  </div>
  
   <%= f.fields_for :entries, @record.entries.build do |i| %>
  新規応募追加
    <div class="form-group">
      <br>
      <%= i.label :client, "企業名" %>
      <%= i.text_field :client %>
      <br>
      <%= i.label :entry_status, "ステータス" %>
      <%= i.select :entry_status, [
      ["検討中","検討中"],
      ["書類選考","書類選考"],
      ["面接待ち","面接待ち"],
      ["面談済み","面談済み"],
      ["終了","終了"]] %>
      <br>
      <%= i.label :expected_sales, "見込売上" %>
      <%= i.number_field :expected_sales %>
      <br>
      <%= i.label :rank, "見込ランク" %>
      <%= i.select :rank, [
      ["E","E"],
      ["D","D"],
      ["C","C"],
      ["B","B"],
      ["A","A"]] %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit '送信', :class=>"btn"  %>
  </div>
<% end %>
