<h1>商談一覧</h1>

<div> 
  <%= search_form_for @q do |f| %>
    担当名<%= f.select :user_id_eq, options_from_collection_for_select(User.all, "id", "name", @q.user_id_eq),
    include_blank: true %>
    ステータス<%= f.select :status_eq, [
      ["オーダリング", "オーダリング"], 
      ["マッチング", "マッチング"],
      ["クロージング", "クロージング"],
      ["成約", "成約"],
      ["終了", "終了"]],
    include_blank: true %>
    <%= f.submit "検索" %>
  <% end %>
</div>

<div>
  <p>全員の合計売上　<%= @total_sales %>万円</p>
</div>

<table class="table">
  <thead>
    <tr>
      <th><%= sort_link(@q, :user_id, "担当者") %></th>
      <th><%= sort_link(@q, :candidate_id, "候補者") %></th>
      <th>企業</th>
      <th><%= sort_link(@q, :status, "ステータス") %></th>
      <th>見込売上</th>
      <th>成約金額</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <% if record.status != "成約" && record.status != "終了" %>
        <tr>
          <td><%= record.user.name %></td>
          <td><%= link_to record.candidate, edit_record_path(record) %></td>
          <td>
            <% record.entries.each do |entry| %>
              <%= link_to entry.client, edit_entry_path(entry) %>
            <% end %>  
          </td>
          <td><%= link_to record.status, edit_record_path(record) %></td>
          <td>
            <% record.entries.each do |entry| %>
              <%= link_to entry.expected_sales, edit_entry_path(entry) %>万円
            <% end %>  
          </td>
          <td>
            <% if record.sales %>
              <%= link_to record.sales, edit_record_path(record) %>万円
            <% end %>  
          </td>
          <td><%= link_to '案件状況', record_path(record) %></td>
          <td><%= link_to '商談削除', record, data: { confirm: '削除しますか?' }, method: :delete %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<p class="btn"><%= link_to '新規商談作成', new_record_path %></p>
