<h3><%=  @record.candidate %>応募状況　（<%= @record.status %>）</h3>

<table class="table">
  <thead>
    <tr>
      <th>企業名</th>
      <th>ステータス</th>
      <th>面接日</th>
      <th>見込金額</th>
      <th>見込ランク</th>
    </tr>
  </thead>

  <tbody>
    <% @record.entries.each do |entry| %>
      <tr>
        <td><%= entry.client %></td>
        <td><%= entry.entry_status %></td>
        <td><%= entry.interview_day %></td>
        <td><%= entry.expected_sales %></td>
        <td><%= entry.rank %></td>
        <td><%= link_to '編集', edit_entry_path(entry) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '応募追加', new_entry_path %>

    <p>
      <%= link_to 'Edit', edit_record_path(@record) %> |
      <%= link_to 'Destroy', @record, data: { confirm: 'Are you sure?' }, method: :delete %> |
      <%= link_to 'Back', "/records" %>
    </p>
  </div>
</div>