<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <% if user_signed_in? %>
    <%= link_to "進捗管理アプリ", '/records', id: "logo" %>
    <% else %>
    <%= link_to "進捗管理アプリ", '/static_pages/home', id: "logo" %>
    <% end %>
    <nav>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to "ID:#{current_user.id} #{current_user.name}さんのマイページ", '/my_page' %></li>
            <li><%= link_to "すべての商談",   '/records' %></li>
            <li><%= link_to "目標/進捗",   '/targets' %></li>
            <li><%= link_to "ユーザ一覧",   '/users' %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <% else %>  
            <li><%= link_to "ログイン", new_user_session_path %></li>
            <li><%= link_to "ユーザ登録", '/users/sign_up' %></li>
          <% end %>
        </ul>
    </nav>
  </div>
</header>
  